header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    


}
.black{
    background-color: #141414;
    background: linear-gradient(to bottom, #111 25%, transparent 75%);
    
}
.header--logo {
    height: 25px;
    margin-left: 15px;
}
.header--logo img ,.header--user img{
    height: 100%;
    
}
.header--user{
    height: 40px;
    margin-right: 25px;
    margin-top: 5px;
    

}
.header--user img{
    border-radius: 25px;
}


