.movieRow {
    margin-bottom: 30px;

}

.movieRow h2 {
    margin: 0px 0px 0px 30px;
}

.movieRow--listarea {
    overflow-x: hidden;
    padding-left: 30px;

}

.movieRow--list {
    width: 99999999px;
}

.movieRow--item {
    display: inline-block;
    width: 250px;
    cursor: pointer;
}

.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.3s;
}

.movieRow--item img:hover {
    transform: scale(1);
}

.movieRowLeft,
.movieRowRight {
    position: absolute;
    width: 40px;
    height: 375px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;

}
.movieRowLeft{
    left: 0;

}
.movieRowRight{
    right: 0;
}
.movieRow:hover .movieRowLeft,
.movieRow:hover .movieRowRight{
    opacity: 1;
}